img {
  object-fit: cover;
  display: block;
}

.favoritePlace {
  border-style: solid;
  border-width: 6px;
  border-color: #EDF0FF;
  margin: 15px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  position: relative;
  width: 326px;
  height: 326px;
}

.favoritePlace:hover .favoritePlaceText {
  visibility: visible;
  opacity: 1;
  height: 100%;
  border-style: none;
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in-background 0.3s ease-out 0s forwards;
  background-color: rgba(0,0,0,0.50);
  cursor: pointer;
}

.favoritePlace:hover span {
  animation: slide-up 0.3s ease-out 0s forwards;
}

@keyframes fade-in-background {
    0% {
      background-color: rgba(0,0,0,0.10);
    }
    100% {
      background-color: rgba(0,0,0,0.50);
    }
}
@keyframes slide-up {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.favoritePlaceImg {
  width: 326px;
  height: 326px;
  padding: 0px;
  position: absolute;
}

.favoritePlaceText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Pacifico', cursive;
  text-align: center;
  visibility: hidden;
  color: white;
  font-size: 30px;
}
